// Файл обнуляющих стилей
@import "nullstyle.scss";

$dark: #22222b;
$light: #faf9fe;
$text: #7f7f82;
body,
html {
   height: 100vh;
}
body {
   font-family: "Roboto", sans-serif;
}
.text-centr {
   text-align: center;
}

.main {
   background-image: url(../img/bg.jpg);
   display: flex;
   flex-direction: column;
   min-height: 960px;
   max-width: 1920px;
   margin: 0 auto;
   justify-content: space-between;
}
.header {
   position: fixed;
   width: 100%;
   top: 0;
   left: 0;
   z-index: 50;
   &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transition: all 0.3s ease 0s;

      z-index: 2;
   }
   &__body {
      position: relative;
      display: flex;
      justify-content: space-between;
      height: 50px;
      align-items: center;
      .logo {
         flex: 0 0 188px;
         overflow: hidden;
         position: relative;
         z-index: 3;
         & img {
            min-width: 100%;
            display: block;
         }
      }
   }
}
.header-contaier {
   max-width: 1170px;
   padding: 0px 10px 0 10px;
   margin: 0 auto;
}

@media (max-width: 1200px) {
   .wrapper {
      max-width: 970px;
   }
}
@media (max-width: 992px) {
   .wrapper {
      max-width: 750px;
   }
}
@media (max-width: 767px) {
   .wrapper {
      max-width: none;
   }
}
.header__buger {
   display: none;
}
.nav {
   display: flex;
   position: relative;
   z-index: 2;
   &-item {
      margin-top: 5px;
      margin-left: 21px;
      font-size: 16px;
   }
   &-link {
      color: $dark;
      text-decoration: none;
      border-bottom: 1px solid transparent;
      transition: 0.3s;
      &:hover {
         border-bottom: 1px solid $dark;
      }
   }
}

@media (max-width: 767px) {
   body.lock {
      overflow: hidden;
   }
   .header-contaier {
      padding: 0 10px;
   }
   .header__body {
      height: 50px;
   }
   .header.active::before {
      background-color: $text;
   }
   .header__buger {
      display: block;
      position: relative;
      width: 30px;
      height: 20px;
      z-index: 3;

      & span {
         position: absolute;
         background-color: $dark;
         left: 0;
         width: 100%;
         height: 2px;
         top: 9px;
         transition: all 0.3s ease 0s;
      }
      &::before,
      &::after {
         content: "";
         position: absolute;
         background-color: $dark;
         width: 100%;
         height: 2px;
         left: 0;
         transition: all 0.3s ease 0s;
      }
      &::before {
         top: 0;
      }
      &::after {
         bottom: 0;
      }
   }
   .header__buger.active span {
      transform: scale(0);
   }
   .header__buger.active::before {
      transform: rotate(45deg);
      top: 9px;
   }
   .header__buger.active::after {
      transform: rotate(-45deg);
      bottom: 9px;
   }

   .header__menu {
      position: fixed;
      top: -100%;
      left: 0;
      width: 100%;
      height: 80%;
      overflow: auto;
      background-color: $light;
      padding: 70px 10px 20px 10px;
      margin: 0 auto;
      transition: all 0.5s ease 0s;

      &.active {
         top: 0;
      }
   }

   .logo {
      flex: 0 0 40px;
      z-index: 3;
   }
   .nav {
      display: block;
      & li {
         margin: 0px 0px 20px 0px;
      }
      &-item {
         font-size: 24px;
      }
   }
}

.wrapper {
   max-width: 1200px;
   margin: 0 auto;
   padding: 0 15px;
   h1 {
      background-image: url(..//img/bgh1.png);
      background-repeat: no-repeat;
      background-size: 100% 100%;
      width: 110%;
      height: 85px;
      padding-top: 10px;
   }
}
.titel-h1 {
   font-size: 60px;
   font-weight: 300;
   text-align: center;
   margin-top: 28px;
   span {
      font-weight: 500;
   }
}

.btn-scroll {
   background-color: transparent;
   border: none;
   display: block;
   margin: 0 auto;
   .scrolling {
      left: 51%;
      position: fixed;
      bottom: 10px;
      z-index: 1;
      border: solid 1px #08080a;
      border-radius: 15px;
   }
}
.box-about {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding-top: 237px;
   padding-bottom: 132px;
   color: $dark;
   font-size: 16px;
   line-height: 24px;
   &__item {
      flex: 0 0 50%;
      max-width: 50%;
      left: -20px;
      position: relative;
      &:first-child {
         flex: 0 0 45%;
         max-width: 45%;
         display: flex;
         justify-content: flex-end;
      }
   }
   &__item2 {
      flex: 0 0 45%;
      max-width: 45%;
      padding-top: 30px;
      left: -10px;
      position: relative;
      &:first-child {
         display: flex;
         justify-content: flex-end;
      }
   }
   &__back {
      position: absolute;
      z-index: -1;
      left: 21px;
      top: -107px;
   }
   &__front {
      position: relative;
      top: 0;
      left: 80px;
      width: 375px;
      height: 464px;
   }
   &__vertical {
      position: absolute;
      left: 0;
      writing-mode: vertical-lr;
      transform: rotate(180deg);
      bottom: 60px;
      font-size: 16px;
      font-weight: 500;
      margin-left: 30px;
      letter-spacing: 1.6px;
      &::after {
         content: "";
         width: 1px;
         height: 45px;
         background-color: $dark;
         position: absolute;
         right: 13px;
         top: 105px;
      }
   }
   &__text {
      color: $text;
      font-weight: 400;
      padding: 35px 30px 15px 0;
   }
}
.titel-h2 {
   font-size: 48px;
   font-weight: 500;
}
.progress-bar {
   font-weight: 500;
   &-text {
      display: flex;
      justify-content: space-between;
      align-items: center;
   }
   &-line {
      width: 100%;
      height: 2px;
      margin: 35px 0 20px 0;
      background-color: $dark;
      position: relative;
      &::before {
         content: "";
         background-image: url(..//img/icon/progres.png);
         background-repeat: no-repeat;
         display: block;
         width: 6px;
         height: 11px;
         position: absolute;
         left: -1px;
         top: -4.5px;
      }
      &::after {
         content: "";
         position: absolute;
         right: 0;
         display: block;
         height: 2px;
         background-color: #f2f2f2;
      }
   }
   &-ht {
      &::after {
         width: 0%;
      }
   }
   &-css {
      &::after {
         width: 15%;
      }
   }
   &-js {
      &::after {
         width: 40%;
      }
   }
}

.section-services {
   background-color: $light;
   padding: 128px 0 130px;
}

.wrapper > .titel-h2 {
   font-size: 36px;
   font-weight: 400;
   line-height: 26px;
   padding-bottom: 24px;
}
.services {
   display: grid;
   grid-template: 1fr 1fr/1fr 1fr 1fr;
   grid-gap: 50px 62px;
   padding-top: 60px;

   &__icon {
      background-repeat: no-repeat;
      display: block;
      width: 44px;
      height: 37px;
   }
   &__design {
      background-image: url(..//img/icon/01.png);
      background-size: 41px 35px;
   }
   &__photo {
      background-image: url(..//img/icon/02.png);
      background-size: 43px 35px;
   }
   &__web {
      background-image: url(..//img/icon/03.png);
      background-size: 41px 35px;
   }
   &__media {
      background-image: url(..//img/icon/04.png);
      background-size: 37px 37px;
   }
   &__mark {
      background-image: url(..//img/icon/05.png);
      background-size: 44px 35px;
   }
   &__app {
      background-image: url(..//img/icon/06.png);
      background-size: 47px 37px;
   }

   &__link {
      content: "";
      color: $light;
      display: block;
      width: 25px;
      height: 1px;
      background-color: $dark;
      position: absolute;

      &::before {
         background-color: $light;
      }

      &:hover {
         display: block;
         width: 70px;
         font-size: 14px;
         color: $dark;
         font-weight: 400;
         line-height: 26px;
         position: relative;
         top: -10px;
         text-decoration: none;
         background-color: $light;
         &::before {
            content: "";
            display: block;
            width: 25px;
            height: 1px;
            background-color: $dark;
            position: absolute;
            right: -34px;
            top: calc(50% + 12px);
         }
      }
   }
}
.titel-h3 {
   font-size: 22px;
   font-weight: 400;
   line-height: 24px;
   padding-top: 32px;
   padding-bottom: 18px;
}
.after-titel {
   color: $text;
   font-size: 16px;
   font-weight: 400;
   line-height: 26px;
}
.services__text {
   color: $text;
   font-size: 14px;
   font-weight: 400;
   line-height: 26px;
   padding-bottom: 23px;
   padding-right: 16px;
}
.section-portfolio {
   padding: 130px 0;
}
.portfolio {
   display: grid;
   grid-template: repeat(7, 88px) / 1fr 1fr 1fr;
   grid-gap: 40px;
   padding: 80px 0 30px;
   &-01 {
      grid-column: 1/2;
      grid-row: 1/4;
   }
   &-02 {
      grid-column: 2/3;
      grid-row: 1/5;
   }
   &-03 {
      grid-column: 3/4;
      grid-row: 1/4;
   }
   &-04 {
      grid-column: 1/2;
      grid-row: 4/8;
   }
   &-05 {
      grid-column: 2/3;
      grid-row: 5/8;
   }
   &-06 {
      grid-column: 3/4;
      grid-row: 4/8;
   }
   &-thumb {
      width: 100%;
      height: 100%;
      position: relative;
      overflow: hidden;
      img {
         position: absolute;
         left: 50%;
         top: 50%;
         transform: translate(-50%, -50%);
         width: 100%;
         height: 100%;
         object-fit: cover;
      }
   }
}

.section-baner {
   background-color: $dark;
   padding: 95px 0 100px;
   color: #fff;
   font-weight: 400;
   line-height: 32px;
   p {
      color: #fff;
      font-size: 22px;
      font-weight: 400;
      line-height: 32px;
      text-align: center;
   }
   h2 {
      font-size: 48px;
      font-weight: 400;
      line-height: 32px;
      padding-top: 22px;
      padding-bottom: 37px;
   }
}
.btn {
   display: block;
   text-decoration: none;
   background-color: #ffffff;
   color: $dark;
   font-size: 16px;
   letter-spacing: 1.2px;
   text-align: center;
   width: 170px;
   height: 45px;
   padding-top: 7px;
   margin: 0 auto;
}
.section-feedback {
   padding: 128px 0 154px;
}

.feedback {
   display: flex;
   justify-content: space-between;
   padding-top: 57px;
   &-item {
      flex: 0 0 50%;
      max-width: 49%;
   }
   &-top {
      display: flex;
      justify-content: flex-start;
      padding-bottom: 30px;
   }
   &-link {
      margin-right: 20px;
   }
   &-name {
      padding: 18px 0;
      &__titel {
         font-size: 22px;
         color: $dark;
      }
      &__job {
         font-size: 12px;
         color: $text;
         padding-top: 15px;
      }
   }
   &-text {
      background-image: url(../img/bgfb.png);
      // width: 570px;
      height: 180px;
      p {
         padding: 30px 30px 31px 30px;
         font-size: 18px;
         line-height: 1.8;
         color: $text;
         font-style: italic;
      }
   }
}

.section-experient {
   padding: 100px 0 90px;
   background-color: $light;
   .expirient {
      display: flex;
      justify-content: space-around;
      text-align: center;
      p {
         font-size: 16px;
         font-weight: 400;
         line-height: 26px;
         text-transform: uppercase;
         color: $dark;
         span {
            font-size: 24px;
            display: block;
            font-weight: 500;
            color: $dark;
            padding: 28px 0 10px;
         }
      }
   }
}

.expirient-icon {
   background-color: $dark;
   width: 70px;
   height: 70px;
   border-radius: 100%;
   margin: 0 auto;
   background-position: center center;
   background-repeat: no-repeat;
   &__01 {
      background-image: url(..//img/icon/heard.png);
      background-size: 26px 23px;
   }
   &__02 {
      background-image: url(..//img/icon/bag.png);
      background-size: 26px 23px;
   }
   &__03 {
      background-image: url(..//img/icon/zzzz.png);
      background-size: 26px 24px;
   }
   &__04 {
      background-image: url(..//img/icon/chempion.png);
      background-size: 19px 23px;
   }
}

.section-form {
   padding: 130px 0 130px;
}

.form {
   display: flex;
   flex-direction: column;
   max-width: 750px;
   margin: 0 auto;
   text-align: center;
   padding-top: 40px;
   &-input,
   &-textrea {
      border-bottom: 1px solid #e1e1e1;
      font-size: 14px;
      padding: 20px;
      text-align: center;
      transition: 0.3s;
      box-sizing: border-box;
      &:focus {
         outline: none;
         border-bottom: 1px solid $dark;
      }
   }
   &-textrea {
      padding-bottom: 37px;
   }
   .btn {
      background-color: $dark;
      color: #fff;
      font-size: 16px;
      width: 100%;
      height: 60px;
      padding: 20px 0;
      margin-top: 45px;
   }
}
footer {
   background-color: $dark;
   padding: 68px 0 65px;
}
.footer {
   display: flex;
   justify-content: space-between;
   align-items: center;
   color: #fff;
   font-size: 16px;
   font-weight: 300;
   letter-spacing: 0.8px;
}
.social-network {
   display: flex;

   &__item {
      margin-left: 20px;
   }
   &__link {
      color: #fff;
   }
}
